html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
.sidebar h1 {
	font-weight: 535;
	font-size: 23px;
	color: #878786;
	margin-left: 45px;
	margin-bottom: 30px;
}
.sidebar p {
	margin-left: 16px;
	color: #878786;
	cursor: pointer;
}
.sidebar p:hover { 
	color: white;
}
body{
	font-family:"Arial", Serif;
	background-color:#f4f4f4;
	overflow-x:hidden;
}
* {
	box-sizing: border-box;
}
.navbar{
	background-color:#212121;
	overflow:hidden;
	height: 10%;
}
.navbar a{
	float:left;
	display:block;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-size:17px;
}


.side-nav{
	height:100%;
	width:0;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color: black;
	overflow-x:hidden;
}
.side-nav a{
	padding:10px 10px 10px 30px;
	text-decoration:none;
	font-size:22px;
	color:#ccc;
	display:block;
}
.side-nav a:hover{
	color:#fff;
}
.side-nav .btn-close{
	position:absolute;
	top:0;
	right:22px;
	font-size:36px;
}

#main {
	height:90%;
	overflow:hidden;
	width:100%;
}
#map {
	height: 100%;
	width:100%;
}
.custom-select {
	width:100%;
	position: relative;
	font-family: Arial;
}
.custom-select select {
	display: none; 
}
.select-selected {
	background-color: #4574A9;
}
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}
.select-items div,.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}
.select-items {
	position: absolute;
	background-color: #4574A9;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}
.select-hide {
	display: none;
}
.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
